header {
    background-image: url(../images/Fine\ cuts.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.nav {
    background-color: #171715;
}

.navbar.transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
    background-color: #171715 !important;
}

/*Openin times section*/
.openingSection {
    background-image: url(../images/arthur-humeau-pu20JkUx--A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;

}

.demo-bg {
    margin-top: 60px;
}

.business-hours {
    background: #222;
    padding: 40px 14px;
    margin-top: -15px;
    position: relative;
    font-size: 24px;
    /* Adjust font size as needed */
}

.business-hours .title {
    font-size: 28px;
    /* Adjust font size as needed */
    color: #ffac0c;
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 4px solid #AB9385;
}

.business-hours li {
    color: #fff;
    line-height: 40px;
    /* Adjust line height as needed */
    border-bottom: 1px solid #333;
}

.business-hours li:last-child {
    border-bottom: none;
}

.business-hours .opening-hours li.today {
    color: #ffac0c;
}



.footer-section {
    background-color: #AB9385;
}